.DS_Store
*.tmp
*.cvr
/Color Blind Palette/*
/facs/*
/fx/*
/movies/*
/scenarios/1Explore/*
/scenarios/2Build/*
/scenarios/3Conquer/*
/scenarios/Faction v Faction/*
/scenarios/MP--2 PlayerA/*
/scenarios/MP--4 PlayerA/*
/scenarios/MP--4 PlayerB/*
/scenarios/SP--7 PlayerA/*
/scenarios/desktop.ini
/projs/*
/saves/*
/techs/*
/Unsorted factions/*
/voices/*
*/personal/*
movlist.txt
movlistx.txt
A.cvr
AA-ROVER.cvr
AA-WING.cvr
AA-WING0.cvr
AA.cvr
AA01.cvr
AATMANIP.cvr
AATPLACON.cvr
acedit.txt
ACEdit20.exe
aceditint.txt
ACP00.cvr
ACP01.cvr
ACP02.cvr
ACP03.cvr
ACOLPOD.cvr
ac_logo_sm.pcx
ADROPER.cvr
Airdp_sm.pcx
air_sm.pcx
aivals.tmp
alair_sm.pcx
ALdrone_sm.pcx
alfacblt_sm.pcx
Alien Crossfire Website.url
aliencit.pcx
alienref_sm.pcx
alien_pod.flc
Alopdir.pcx
Alpha Centauri Autosave 1.SAV
Alpha Centauri.Ini
AlphaHQ Website.url
alphaxete.txt
alunit_sm.pcx
al_cap_sm.pcx
al_col_sm.pcx
al_drop_sm.pcx
al_infil_sm.pcx
al_land_sm.pcx
al_pod_sm.pcx
al_pop_sm.pcx
al_starv_sm.pcx
aol.txt
Apsid.cvr
Apwall.cvr
ARIALB.TTF
ARIALI.TTF
arialn.fot
ARIALN.TTF
ARIALR.TTF
armorgrads.tmp
armorgrads_trans.tmp
artbox0.pcx
artbox1.pcx
artbox10.pcx
artbox11.pcx
artbox12.pcx
artbox13.pcx
artbox14.pcx
artbox15.pcx
artbox16.pcx
artbox17.pcx
artbox18.pcx
artbox19.pcx
artbox2.pcx
artbox20.pcx
artbox21.pcx
artbox22.pcx
artbox23.pcx
artbox24.pcx
artbox3.pcx
artbox4.pcx
artbox5.pcx
artbox6.pcx
artbox7.pcx
artbox8.pcx
artbox9.pcx
artstolen_sm.pcx
art_dis_sm.pcx
Asas.cvr
asctran_sm.pcx
Asgen.cvr
astm_sm.pcx
astp_sm.pcx
AT.cvr
atlantians, 2113.SAV
ATp.cvr
AVGMTGUN.cvr
AVHT-GunReposition.cvr
AVHT-LightsReposition.cvr
AVI-GunReposition.cvr
AVTCONST.cvr
AVTMANIP.cvr
AVTPLANT.cvr
ax Alien.flc
ax background.pcx
ax flare.flc
ax Unity.flc
AX.cvr
axstart border.pcx
axstart.exe
back.pcx
bad_sm.pcx
baseobl_sm.pcx
battlewin.pcx
battlewin2.pcx
batwon_sm.pcx
beaconlose_sm.pcx
beacon_sm.pcx
biohazd_sm.pcx
bluetint.tmp
bodygrads.tmp
break_sm.pcx
brian.flc
brian.pcx
brian.txt
brian2.pcx
brian3.pcx
Btchi.pcx
BTfungtow.pcx
Btisl.pcx
BTsealrk.pcx
BTsporlnch.pcx
Btwrm.pcx
Bump_sm.pcx
bureau_sm.pcx
capture_sm.pcx
caretake.flc
caretake.pcx
CARETAKE.tmp
caretake.txt
caretake2.pcx
caretake3.pcx
CARETAKEvals.tmp
chiron_sm.pcx
CLONE.FLC
cloud_sm.pcx
colfoun_sm.pcx
colorvals.tmp
Comdlg32.ocx
conq_sm.pcx
cons.pcx
cons.tmp
cons.txt
cons2.pcx
cons3.pcx
console.pcx
console2.pcx
console2_A.pcx
console_A.pcx
console_x.pcx
console_x2.pcx
console_x2_a.pcx
console_x_a.pcx
consvals.tmp
council_sm.pcx
credits.pcx
credits2.pcx
Cursor.pcx
cyborg.flc
cyborg.pcx
CYBORG.tmp
cyborg.txt
cyborg2.pcx
cyborg3.pcx
CYBORGvals.tmp
Defaults.pcx
Defaults.txt
defaults2.pcx
Defaults3.pcx
deswin.pcx
dipvic_sm.pcx
dip_a_0.flc
dip_a_1.flc
dip_a_2.flc
dip_f_0.flc
dip_f_1.flc
dip_f_2.flc
dip_m_0.flc
dip_m_1.flc
dip_m_2.flc
Dot0.pcx
Dot1.pcx
Dot2.pcx
Dot3.pcx
drone.flc
drone.pcx
DRONE.tmp
drone.txt
drone2.pcx
drone3.pcx
DRONEvals.tmp
drone_sm.pcx
Drop.cvr
Droplet.cvr
drop_pod.flc
drop_smoke.flc
EA Technical Support Help.hlp
econwin_sm.pcx
edbc.tmp
energy_glow.tmp
escpod_sm.pcx
explosions0.tmp
explosions1.tmp
explosions10.tmp
explosions11.tmp
explosions12.tmp
explosions2.tmp
explosions3.tmp
explosions4.tmp
explosions5.tmp
explosions6.tmp
explosions7.tmp
explosions8.tmp
explosions9.tmp
facblt_sm.pcx
facedit.exe
facedit.txt
faction.flc
faction.pcx
faction3.pcx
factionpack28
fac_escape_sm.pcx
fade.tmp
flags.pcx
forgr_sm.pcx
foundeng_sm.pcx
foundradar_sm.pcx
frame.pcx
freevals.tmp
fungboy.flc
fungboy.pcx
FUNGBOY.tmp
fungboy.txt
fungboy2.pcx
fungboy3.pcx
FUNGBOYvals.tmp
fungpayld_sm.pcx
fungtow_sm.pcx
fung_sm.pcx
FUNLOAD.cvr
gaians.flc
Gaians.pcx
GAIANS.tmp
gaians.txt
gaians2.pcx
Gaians3.pcx
GAIANSvals.tmp
Genwarning_sm.pcx
hackersvals.tmp
hail_sm.pcx
hallfame.jhh
hasty_sm.pcx
heat_sm.pcx
helpxete.txt
helpxyitzi.txt
hof.pcx
hoficons.pcx
hof_1_1.pcx
hof_1_2.pcx
hof_1_3.pcx
hof_1_4.pcx
hof_1_5.pcx
hof_2_1.pcx
hof_2_2.pcx
hof_2_3.pcx
hof_2_4.pcx
hof_2_5.pcx
hof_3_1.pcx
hof_3_2.pcx
hof_3_3.pcx
hof_3_4.pcx
hof_3_5.pcx
hof_4_1.pcx
hof_4_2.pcx
hof_4_3.pcx
hof_5_1.pcx
hof_5_2.pcx
hof_5_3.pcx
hof_5_4.pcx
hof_6_1.pcx
hof_6_2.pcx
hof_6_3.pcx
hof_6_4.pcx
hof_6_5.pcx
hof_7_1.pcx
hof_7_2.pcx
hof_7_3.pcx
hof_7_4.pcx
hof_7_5.pcx
Holobook.pcx
humanref_sm.pcx
huntsk_sm.pcx
Icons.pcx
iface.pcx
iface_down.pcx
iface_down2.pcx
iface_down2_A.pcx
iface_down_A.pcx
iface_up.pcx
iface_up2.pcx
iface_up2_A.pcx
iface_up_A.pcx
IMPvals.tmp
indbm_sm.pcx
infil_sm.pcx
install.bat
interface.pcx
ip.cfg
Ip.exe
isle_sm.pcx
Jackal.pcx
kelp_sm.pcx
labelsete.txt
liberate_sm.pcx
logfile.txt
logo.pcx
markbm_sm.pcx
Microsoft.txt
mindworm_sm.pcx
monbig0.pcx
monbig1.pcx
monbig10.pcx
monbig11.pcx
monbig12.pcx
monbig14.pcx
monbig2.pcx
monbig3.pcx
monbig4.pcx
monbig5.pcx
monbig6.pcx
monbig7.pcx
monbig8.pcx
monbig9.pcx
monicons.pcx
monolith_sm.pcx
monument.flc
monzoom1.pcx
monzoom2.pcx
moon1.pcx
moon1_800.pcx
moon2.pcx
moon2_800.pcx
moon3.pcx
moon3_800.pcx
morgan.flc
morgan.pcx
MORGAN.tmp
morgan.txt
morgan2.pcx
morgan3.pcx
MORGANvals.tmp
multi.pcx
nativdes_sm.pcx
native_sm.pcx
Navun_sm.pcx
netcr_sm.pcx
NetworkNodeFactions.txt
newicons.pcx
Ni.cvr
nlc.cvr
Nw.cvr
ogre_sm.pcx
openinga.pcx
openingb.pcx
openitem.flc
palcheck.tmp
palette.pcx
patch.exe
pickfac.pcx
pirates.flc
pirates.pcx
PIRATES.tmp
pirates.txt
pirates2.pcx
pirates3.pcx
PIRATESvals.tmp
pop.pcx
pop_sm.pcx
PowerGameSPsDiplo2BaseTechGovsColsForms.SC
printit.txt
Ptmod.cvr
quake_sm.pcx
Rainfall.pcx
rdengldp_sm.pcx
rdengl_sm.pcx
rdengwdp_sm.pcx
rdengw_sm.pcx
rdminldp_sm.pcx
rdminl_sm.pcx
rdminwdp_sm.pcx
rdminw_sm.pcx
rdneuldp_sm.pcx
rdneul_sm.pcx
rdneuwdp_sm.pcx
rdneuw_sm.pcx
reddish.tmp
redtint.tmp
Report.pcx
RESBOLT.cvr
RESLASER.cvr
S1L1C1.pcx
S1L1C2.pcx
S1L1C3.pcx
S1L2C1.pcx
S1L2C2.pcx
S1L2C3.pcx
S1L3C1.pcx
S1L3C2.pcx
S1L3C3.pcx
S2L1C1.pcx
S2L1C2.pcx
S2L1C3.pcx
S2L2C1.pcx
S2L2C2.pcx
S2L2C3.pcx
S2L3C1.pcx
S2L3C2.pcx
S2L3C3.pcx
S3L1C1.pcx
S3L1C2.pcx
S3L1C3.pcx
S3L2C1.pcx
S3L2C2.pcx
S3L2C3.pcx
S3L3C1.pcx
S3L3C2.pcx
S3L3C3.pcx
Sags.cvr
sancimp_sm.pcx
sanclift_sm.pcx
Sas.cvr
satbat_sm.pcx
satellite.flc
Scd.cvr
scen_sm.pcx
scient.exe
Scj.cvr
Scriptete.txt
Sdp.cvr
seabas_sm.pcx
seafal_sm.pcx
sealrk_sm.pcx
searis_sm.pcx
secproj_sm.pcx
seized_sm.pcx
select.cvr
sf.txt
Sft.cvr
SFTA.cvr
shadow.tmp
Sht.cvr
SMAC Borg 2-1 Readme.txt
SMACX_UP_Uninstaller.exe
SMAC_XP2000_readme.txt
socwin.pcx
solar_sm.pcx
sound.dll
sound.old
soundx.dll
SP-DISSWAVE.cvr
SP-MARINED.cvr
SP-NANOO.cvr
SP-SOPORIFIC.cvr
space_sm.pcx
spartans.flc
spartans.pcx
SPARTANS.tmp
spartans.txt
spartans2.pcx
spartans3.pcx
SPARTANSvals.tmp
splash.gif
sporlnch_sm.pcx
spotlight.tmp
Srb.cvr
Ssf.cvr
SSFA.cvr
stars_sm.pcx
starv_sm.pcx
subbase_sm.pcx
subgen_sm.pcx
Subsvals.tmp
sun_sm.pcx
supply_sm.pcx
Tabctl32.ocx
talent_sm.pcx
TECLOAD.cvr
tectonic_sm.pcx
ter1.pcx
ter1wreck.pcx
terran.exe
terranxbackup.exe
territory.tmp
text.pcx
texture.pcx
turn.flc
Uninst.isu
unitfound_sm.pcx
Units.pcx
unit_sm.pcx
univ.flc
univ.pcx
UNIV.tmp
univ.txt
univ2.pcx
univ3.pcx
UNIVvals.tmp
usurper.flc
usurper.pcx
USURPER.tmp
usurper.txt
usurper2.pcx
usurper3.pcx
USURPERvals.tmp
VA01.cvr
VB.cvr
VBp.cvr
VCL.cvr
VCLT00.cvr
VCT.cvr
VCT00.cvr
VCT01.cvr
VCT02.cvr
VCTB.cvr
VCTp.cvr
VCU.cvr
VCUA00.cvr
VCUA01.cvr
VCUp.cvr
VCUW.cvr
VFL.cvr
VGMC.cvr
VGMCp.cvr
VGMT.cvr
VGMTp.cvr
VGS.cvr
VGSp.cvr
VHR.cvr
VHT-VBp.cvr
VHTA00.cvr
VHTA01.cvr
VHTp.cvr
VHTTA00.cvr
VHTTA01.cvr
VHTTAp.CVR
VHTTp.cvr
VI.cvr
Vipta00.cvr
Vipta01.cvr
Viptapsi.cvr
Viptasgn.cvr
Viptawal.cvr
Viptr00.cvr
Viptr01.cvr
Viptr02.cvr
Viptr03.cvr
VJT00.cvr
VJT01.cvr
VJTp.cvr
VLIGHTS.cvr
Vm.cvr
volc_sm.pcx
Vpbr00.cvr
Vpbr01.cvr
Vpbr02.cvr
Vpbr03.cvr
Vpt.cvr
vr00.cvr
vr01.cvr
vr02.cvr
vr03.cvr
VRCP00.cvr
VRCP01.cvr
VRCP02.cvr
VRCP03.cvr
VSP.cvr
VSPA01.cvr
VSPA02.cvr
VSPTb.cvr
VSPTf.cvr
VT.cvr
VTA.cvr
Vw00.cvr
VW01.cvr
VW02.cvr
Vw03.cvr
VW04.cvr
VW05.cvr
VW06.cvr
VW07.cvr
Vw08.cvr
Vw09.cvr
VW10.cvr
VW11.cvr
Vw12.cvr
Vw13.cvr
VW14.cvr
VWNAA.cvr
VWNST.cvr
VWNTT.cvr
Vwntu.cvr
XF.pcx
xi.pcx
xopeninga.pcx
xopeningb.pcx